annotated-types==0.6.0
anyio==4.3.0
APScheduler==3.11.0
attrs==23.2.0
bcrypt==4.2.0
bidict==0.23.1
blinker==1.7.0
cachelib==0.13.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
clipboard==0.0.4
colorama==0.4.6
contourpy==1.2.1
cycler==0.12.1
distlib==0.3.8
distro==1.9.0
dnspython==2.7.0
eventlet==0.39.0
filelock==3.13.1
Flask==3.0.2
Flask-Bcrypt==1.0.1
Flask-Cors==5.0.0
Flask-Login==0.6.3
Flask-Session==0.8.0
Flask-SocketIO==5.4.1
Flask-SQLAlchemy==3.1.1
fonttools==4.51.0
frozenlist==1.4.1
greenlet==3.1.1
gunicorn==23.0.0
h11==0.14.0
httpcore==1.0.4
httpx==0.27.0
idna==3.6
isort==5.13.2
itsdangerous==2.1.2
Jinja2==3.1.3
kiwisolver==1.4.5
MarkupSafe==2.1.5
matplotlib==3.8.4
mccabe==0.7.0
msgspec==0.18.6
multidict==6.0.5
numpy==1.26.4
openai==1.13.3
outcome==1.3.0.post0
packaging==24.0
pandas==2.2.2
pillow==10.3.0
platformdirs==4.2.0
psycopg2==2.9.10
pycodestyle==2.11.1
pycparser==2.21
pydantic==2.6.3
pydantic_core==2.16.3
PyJWT==2.9.0
pyparsing==3.1.2
pyperclip==1.8.2
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-engineio==4.10.1
python-socketio==5.11.4
pytz==2024.1
redis==5.1.1
requests==2.31.0
seaborn==0.13.2
selenium==4.18.1
simple-websocket==1.1.0
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
SQLAlchemy==2.0.36
tk==0.1.0
tomlkit==0.12.4
tqdm==4.66.2
trio==0.24.0
trio-websocket==0.11.1
typing_extensions==4.10.0
tzdata==2024.1
tzlocal==5.2
urllib3==2.2.1
uuid==1.30
virtualenv==20.25.1
Werkzeug==3.0.1
wsproto==1.2.0
